<div class="notes">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div id="<%= dom_id project %>">
            <p>
              <strong>Name:</strong>
              <%= project.name %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= project.description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>