<p class="fw-bolder fs-1 text-center">Editing project</p>

<%= render "form", project: @project %>

<div>
  <%= link_to "Show this project", @project, class:"show1" %> 
  <%= link_to "Back to projects", projects_path, class:"back1" %>
</div>

