<center>
<p class="fw-bolder fs-1">Editing project</p>

<%= render "form", project: @project %>

<br>

<div>
  <h5><%= link_to "Show this project", @project %> |
  <%= link_to "Back to projects", projects_path %> </h5>
</div>
</center>
