<header>New project</header>
  <div class="prjt">
    <%= render "form", project: @project , class:"form"%>
  </div>

  <div class="back">
    <%= link_to "Back to projects", projects_path %>
  </div>