<header>Note created</header>
<div class="cnt">
  <%= render @project %>
</div>
<div class="this">
  <%= link_to "Edit this project", edit_project_path(@project) %> ||
  <%= link_to "Back to projects", projects_path %>
</div>

<%= button_to "Destroy this project", @project, method: :delete, class:"delete" %>
